.searchButton {
	width: 40px;
	height: 36px;
	border: 1px solid #00b4cc;
	background: #00b4cc;
	text-align: center;
	color: #fff;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	font-size: 20px;
}

/*Resize the wrap to see the search bar change*/
.wrap {
	width: 30%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* Style the modal */
.modal-content {
	background: #66482c;
	color: white;
}

/* style card ingredients in modal */
.ingredient {
	display: flex;
	flex-flow: column;
	padding: 5px;
	max-width: 220px;
	margin: auto;
	text-align: center;
}

/* Styling the figCaption of each ingredients meal*/
figcaption {
	background: hsl(17, 72%, 47%);
	color: #fff;
	font: italic smaller sans-serif;
	padding: 3px;
	text-align: center;
}

/* Style the welcome title */
h3 {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: bolder;
}

/* style the youtube button and link */
#youtubeIcon {
	color: red;
}
.recipeLink:hover {
	color: wheat;
}
